body {
    background-color: #000000;
    padding-top: 68px;
}

.mtitle {
    color: white;
    text-align: center;
    font-size: 40px;
    border: 5px solid #ffffff;
    display: block;
    margin: 0 auto;
}

.helloW {
    color : white;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
    display: block;
    margin: 0 auto;
}
.infUL {
    display: block;
    margin: 0 auto;
    color : white;
    text-align: center;
}
.infLI {
    color : white;
    padding: 10px;
    font-family:"Times New Roman";
    font-size: 35px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
img {
    text-align: center; 
    display: block;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
}

.w{
    color : black;
    display: block;
    margin: 0 auto;
}

.bp1{
    color : gray;
    display: block;
    margin: 0 auto;
    background-color : #003399;
    border-radius : 5px;
    border-color : #003399;
   
}
.caption{
    display: block;
    margin: 0 auto;
    background-color : gray;
}
.thumbnail {
    display: block;
    margin: 0 auto;
    background-color : gray;
}
.nav {
    display: block;
    margin: 0 auto;
    background-color : #000;
    text-align: center;
}
.navW {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 35px;
}
.dropdownMenu {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 35px;
    color: black;
}
