body {
    background-color: #000000;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    border: 5px solid #ffffff;
    display: block;
    margin: 0 auto;
}

.hw {
    color : white;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

li {
    color : white;
    padding: 10px;
    font-family: "Times New Roman";
    font-size: 25px;
    display: block;
    margin: 0 auto;
}
img {
    text-align: center; 
    display: block;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
}

.w{
    color : white;
    display: block;
    margin: 0 auto;
}

.bp1{
    color : gray;
    display: block;
    margin: 0 auto;
    background-color : #003399;
    border-radius : 5px;
    border-color : #003399;
   
}
.caption{
    display: block;
    margin: 0 auto;
    color : gray;
}
