body {
    background-color: #000000;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    border: 5px solid #999999;
}

p {
    color : white;
    font-family: "Times New Roman";
    font-size: 30px;
}

li {
    color : white;
    font-size: 25px;
}
